---
name: PSN

on:
  push:
  workflow_dispatch:
  schedule:
    # Runs at 0am UTC every day
    - cron: "0 0 * * *"

jobs:
  psn:
    name: Update Readme with PSN
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.7

      - name: psn
        uses: sleeping-winds/psn-trophies-action@v0.1.4
        with:
          NPSSO: ${{ secrets.NPSSO }}

      - name: push
        uses: EndBug/add-and-commit@v9.1.2
