---
name: Update badges

on:
  schedule:
    # Runs at 0am UTC every day
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with badges
    runs-on: ubuntu-24.04
    steps:
      - name: Badges - Readme
        uses: pemtajo/badge-readme@3.2
        with:
          # View Profile -> Share my pofile
          # https://www.credly.com/users/john-losito.52572100
          CREDLY_USER: "john-losito.52572100"
